* {
	box-sizing: border-box;	
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
/*  padding: 15px;*/
  width: 100%;
}

.navbar {
	padding: 0px 50px;
}

.navbar-grey {
	background-color: #556270;
}

ul {
	list-style-type: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: darkgrey;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}


li a:hover{
	background-color: darkgrey;
	color: white;
}

.banner {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 200px;
	border-bottom: 1px solid lightgrey;
}

.banner-content{
	position: absolute;
	top: 30px;
	left: 10px;
	text-align: left;
	color: #333333;
}

.neighbour {
	padding: 10px 10px;
}

.neighbour>h2 {
	color: #333333;
}

.neighbour>p {
	color: #333333;
}
.images img {
	display: block;
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}

.footer {
	background-color: white;
	padding: 30px;
}

.footer-col {
	float: left;
	width: 100%;
	margin: 0px;
	padding-right: 20px;
	box-sizing: border-box;
}
