* {
	box-sizing: border-box;	
}

.col-tb-1 {width: 8.33%;}
.col-tb-2 {width: 16.66%;}
.col-tb-3 {width: 25%;}
.col-tb-4 {width: 33.33%;}
.col-tb-5 {width: 41.66%;}
.col-tb-6 {width: 50%;}
.col-tb-7 {width: 58.33%;}
.col-tb-8 {width: 66.66%;}
.col-tb-9 {width: 75%;}
.col-tb-10 {width: 83.33%;}
.col-tb-11 {width: 91.66%;}
.col-tb-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: block;
}

body {
	margin: auto;
}

.navbar {
	padding: 0px 50px;
}

.navbar-grey {
	background-color: #556270;
}

ul {
	list-style-type: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: darkgrey;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

#li-right{
	float: right;
}

li a:hover{
	background-color: darkgrey;
	color: white;
}

.banner {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 200px;
	border-bottom: 1px solid lightgrey;
}

.banner-content{
	position: absolute;
	top: 30px;
	left: 10px;
	text-align: left;
	color: #333333;
}

.images-left-col {
	float: left;
	padding: 0px 5px 0px 0px;
}

.images-mid-col {
	float: left;
	padding: 0px 0px 0px 5px;
}

.images-right-col {
	float: left;
	padding: 0px 5px 0px 0px;
}


.images img {
	display: block;
	width: 100%;
	height: auto;
	padding-bottom: 10px;
}

.footer {
	background-color: white;
	padding: 30px;
	box-sizing: border-box;
}

.footer-col {
	float: left;
	margin: 0px;
	padding-right: 20px;
	box-sizing: border-box;
}
